# Python virtual environment folder
venv/

# Environment variables with secrets
.env

# Python bytecode and cache files
__pycache__/
*.py[cod]

# VS Code settings folder (optional)
.vscode/

# Outputs folder where enhanced images are saved locally
outputs/


# MacOS system files (optional)
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints
